/* styles.css */

#content {
  text-align: center;
  color: red;
  font-size: 24px;
  margin-top: 50px; 
}

/* 其他样式 */

body {
  background-color: red;
}

#grave-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}